@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#root {
    position: absolute;
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", "lato", sans-serif;
}

.form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signup-color {
    background-color: #92a8de;
}

.form-sign-up {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 10px 40px;
    height: 90%;
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.field {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #dadce0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.input-label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #dadce0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submit-button:hover {
    background-color: #9867c5;
    transform: translateY(-2px);
}

.field:focus + .input-label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
}

.field:focus {
    border: 2px solid purple;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

.shadow-layering {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}
