.topLevelBox {
  display: inline;
  height: 100%;
}
.innerBox {
  display: inline;
}
.featuredPicture {
  border-radius: 50px;
  margin: 15px 15px 100px 15px;
}

.greeting {
  font-variant: small-caps;
  font-weight: bolder;
  font-size: x-large;
  margin-left: 30px;
  text-align: left;
}
.blurb {
  text-indent: 30px;
  text-align: left;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-right: 25em;
  margin-left: 20px;
}
.textChunk {
  margin-left: 30px;
}
.bottomHeaderChunk {
  text-align: left;
  margin-left: 30px;
}

.singleQuote {
  font-style: italic;
  font-size: x-large;
  margin-right: 12em;
  text-align: left;
}

.quotes {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.quoteAuthor {
  margin-top: -1em;
  text-indent: 2em;
}
