body {
    margin: 0px 0px 0px 0px;
}

.main-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 48px;
    background-color: #453229;
    z-index: 1;
}

.page-header {
    position: absolute;
    float: left;
    top: -3%;
    left: 2%;
    font-size: 50px;
}

.shop-root {
    width: 100%;
    height: 100%;
}

.shop-header {
    font-family: "Explora", cursive;
}

.selection-container {
    position: relative;
    top: 20%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 75%;
    width: 94%;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
}

.inner-shoe-container {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: rgb(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-to-cart {
    position: relative;
    left: -10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.outer-shoe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 45%;
}

.add-to-cart-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5%;
    width: auto;
}

.shoe-text-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shoe-name {
    margin-left: 20px;
}

.shoe-price {
    margin-right: 5%;
}

.shoe-pic {
    width: 80%;
    height: 80%;
    border-radius: 8px;
    left: 10%;
    top: 10%;
    position: relative;
}

.shop-page {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0.5),
            transparent 100px
        ),
        radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0.5),
            transparent 100px
        ),
        radial-gradient(
            at bottom left,
            rgba(255, 0, 255, 0.5),
            transparent 400px
        ),
        radial-gradient(
            at bottom right,
            rgba(255, 100, 100, 0.5),
            transparent 400px
        );
}

.shop-btn {
    height: fit-content;
    width: 21px;
    text-align: center;
}

.selected-quantity {
    height: fit-content;
    width: 21px;
    text-align: center;
    background-color: #e6dac1;
    border-radius: 4px;
    border: 1px inset transparent;
}

.cart-add-btn {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 20%;
    top: 200%;
}
