.name-field .email-field {
    margin-bottom: 20px;
}

.pw-field {
    margin-top: 40px;
}

.title {
    margin-bottom: 10px;
}

.error-text {
    color: red;
}

.error-list {
    position: relative;
    left: 20px;
    top: 40px;
}

.submit-button {
    position: relative;
    top: -75px;
}
