.name-field .email-field {
    margin-bottom: 20px;
}

.pw-field {
    margin-top: 40px;
}

.pw-confirm-field {
    margin-right: 0px;
}

.title {
    margin-bottom: 10px;
}

.error-text {
    color: red;
}

.error-list {
    position: relative;
    left: 20px;
    top: 40px;
}

.submit-button {
    position: relative;
    top: -55px;
    left: -35px;
}

.show-pw-form-ctrl {
    position: relative;
    left: 62%;
    top: 80%;
}

.show-pw-text {
    font-size: small;
}

.pw-checklist {
    position: relative;
    top: 30px;
}

.back-btn {
    position: relative;
    top: 2%;
    left: 2%;
    z-index: 1;
}

.top-level-signup {
    width: 100%;
    height: 100%;
}
