.App {
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  position: relative;
}

div {
  min-height: 100%;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}


html {
  min-height: 100%;
  min-width: 100%;
}

.topLevel {
  height: 100%;
}